* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  background-color: #0b0b31;
}

h2 {
  color: #eee;
}
